<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Error 403</title>
</head>
<body>
    <div layout:fragment="content"><div class="error-page">
        <h2 class="headline text-black"></h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-black"></i>You must complete lesson 1 before moving on to the next lesson</h3>
			<p>
				€™
			</p>
        </div>
        <!-- /.error-content -->
      </div></div>

    
</body>
</html>