<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC Support</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="howToHelp">
			<img src="../../images/how-to-help.jpg" alt="" width="100%">

			<!-- Support
		================================================== -->
			<section>
				<div class="container">
					<div class="row navPage">
						<div class="col-auto">
							<a href="/support" class="active">How to help</a>
						</div>
						<div class="col-auto">
							<a href="/volunteer">Volunteer at CEC</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<h2 class="headingSecondary">How to help</h2>
						</div>
						<div class="col-md-8">
							<p>We need your help to make sure that Vietnamese students
								will be trained and supported to maximize their potential.</p>
							<p>There are many ways to join the CEC whether you are an
								individual, an organization, or a company. We need your help for
								our students.</p>
							<h4 class="mb-2">What we need:</h4>
							<ul class="list-unstyled mb-3 ml-3">
								<li><i class="mdi mdi-star"></i> <strong>Small
										grants</strong> to support our students.</li>
								<li><i class="mdi mdi-star"></i> <strong>Larger
										grants</strong> to support our community.</li>
								<li><i class="mdi mdi-star"></i> Opportunities for
									improvement, employment for students.</li>
								<li><i class="mdi mdi-star"></i> Investors willingness to
									cooperate with us to help Vietnamese students.</li>
							</ul>
							<h4 class="mb-2">Support of enterprises and unions:</h4>
							<p>If you are a business, we will work with you to build a
								social responsibility program in partnership with us and tailor
								your business. We applaud:</p>
							<ul class="list-unstyled mb-3 ml-3">
								<li><i class="mdi mdi-star"></i> The support of financial,
									equipment and services.</li>
								<li><i class="mdi mdi-star"></i> The skills and time of
									your employees or your company.</li>
							</ul>
							<p>If you are looking for opportunities to support or invest
								in a nonprofit organization, non-governmental organizations have
								proven their achievements and achievements in the field of
								English language training and employment support, Please contact
								our CEO, Mr Chung Vu Dinh.</p>
							<p>
								All donations trough bank transactions can be sent to our
								paypal: <strong><a>vdchung85@gmail.com</a></strong>. And the
								following cryptopia coin addresses:
							</p>
							<ul class="list-unstyled mb-3 ml-3">
								<li><i class="mdi mdi-ethereum"></i> Ethereum:
									0x206b7DF369dC405f885cA6a8FB45cBAf0741301B</li>
								<li><i class="mdi mdi-bitcoin"></i> Bitcoin:
									37SSCcEzww7BNtUThg1WSKfQbruXTMumxt</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>