<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC Lesson</title>

</head>
<body>
	<div layout:fragment="content">
		<div class="lesson">
			<section class="pageIntro">
				<div class="container text-center" th:each="obj : ${lesson}">
					<h1 class="headingSecondary text-white text-center"
						th:text="${lesson.name}"></h1>
				</div>
			</section>
			<section class="lessonInfo">
				<div class="container" th:each="obj : ${lesson}">
					<div class="row">
						<div class="col-md-3">
							<h3 class="text-left">
								<a href="">Hướng dẫn</a>
							</h3>
							<p>- Để học tốt bài học, hãy tìm hiểu chủ đề của bài học ở
								hai hình ảnh bên dưới video.</p>
							<p>- Chú ý theo dõi, lắng nghe, làm theo hướng dẫn của giảng
								viên trong video.</p>
							<p>- Mô phỏng theo audio để có được ngữ điệu tốt nhất có thể
								( mô phỏng tức là nhắc lại theo audio).</p>
						</div>
						<div class="col-md-6">
							<h3>Nghe bài giảng qua audio</h3>
							<audio controls="" class="mb-5">
								<source th:src="@{${lesson.audioURL}}" type="audio/mpeg">
							</audio>
							<h3>Video bài giảng của giảng viên CEC</h3>
							<video width="320" height="240" controls>
								<source th:src="@{${lesson.videoURL}}" type="video/mp4">
							</video>
						</div>
						<div class="col-md-3">
							<h3 class="text-left">
								<a href="">Nhiệm vụ</a>
							</h3>
							<p>- Bạn cần làm một clip nói về nội dung bài học được nhận.</p>
							<p>- Nội dung có thể được thực hiện theo 1 trong 3 cách thức
								sau đều hợp lệ:</p>
							<p>+ Với người mới học và trình độ chưa tốt bạn có thể làm 1
								clip cầm tờ bài học và nói diễn cảm nhất có thể bài học đó.</p>
							<p>+ Nếu trình độ bạn ở trình độ trung cấp, hãy làm 1 clip
								không cầm tờ bài học mà vẫn nói diễn cảm được bài học.</p>
							<p>+ Ở cấp độ tốt nhất, bạn hãy biến đổi bài học thành bài
								của mình. Tức là nôi dung có thể không giống 100% bài học.</p>
							<p>+ Khi đăng video bạn phải có hashtag của hoạt động
								#lesson(bài số mấy ns)cec, vd: #lesson1cec</p>
							<h5 style="color: green;">Chúc bạn học tập hiệu quả trên CEC
								!</h5>
						</div>
					</div>
					<hr class="mb-5 mt-5">
					<div class="row">
						<div class="col-md-6">
							<p>
								<img alt="requester review" th:src="@{${lesson.imageURL1}}">
							</p>
						</div>
						<div class="col-md-6">
							<p>
								<img alt="requester review" th:src="@{${lesson.imageURL2}}">
							</p>
						</div>
					</div>
					<div class="row" id="featureNextLesson" style="display: none">
						<div class="col-md-6 offset-md-3">
							<div class="btn-group" style="float: right; margin-top: 20px;">
								<button id="nextLesson" class="btn btn-primary">Bài
									tiếp theo >></button>
							</div>
						</div>
						<div class="col-md-6 offset-md-3">
							<div class="form-group" style="margin-top: 15px; display: none;"
								id="urlLesson">
								<label for="usr" style="color: blue;">Link video về bài
									học này của bạn:</label> <input type="text" class="form-control"
									id="lastLesson" style="border-color: black;">
							</div>
							<div class="btn-group" style="float: right; margin-top: 20px;">
								<button id="sendVideo" class="btn btn-success"
									style="display: none;">Gửi lên CEC</button>
							</div>
						</div>
						<script>
							console.log("url: " + window.location.href);
							var currentUrl = window.location.href;
							var url = new URL(currentUrl);
							var v = url.searchParams.get("v");
							console.log("v: " + v);
							if (v == null) {
								/* $("#featureNextLesson").show(); */
								document.getElementById("featureNextLesson").style.display = 'block';
							}
						</script>
					</div>
				</div>
			</section>
		</div>
	</div>


</body>
</html>