<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC - Journey days</title>
</head>
<body>
<div layout:fragment="content">
		<div class="eventInfo event-1">
			
			<section>
				<div class="container">
					<div class="listLesson hasBorderBottom">
						<h2 class="headingSecondary text-center">Danh sách ngày hành trình</h2>
						<p class="text-center textLead mb-5">We have many training
							programs that include</p>

						<div class="row">
							<!-- start active -->
							<!-- <c:forEach items="${lessonNames}" var="lessonName1"> -->
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active"
								th:each="dayActive : ${activeDays}">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p th:text="${dayActive.nameDay}"></p>
										</span>
									</div>
									<a th:href="@{'/journey/3days/' + ${dayActive.keyDay}}"> <span
										class="name" th:text="${dayActive.nameDay}"></span>
									</a>
								</div>
							</div>
							<!-- </c:forEach> -->
							<!-- end active -->
							<!-- start -->



							<!-- <c:forEach items="${lessonNamesNotExist}"
								var="lessonNameNotExist"> -->
							<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem"
								th:each="dayLock : ${lockDays}">
								<div class="inner">
									<!-- <div class="lock" > -->
									<div class="lock">
										<span class="lockMessage"> <i class="mdi mdi-lock icon"></i>
											<p th:text="${dayLock.nameDay}"></p>
										</span> <span class="unlockMessage"
											th:data-parameter1="${dayLock.keyDay}"
											onclick="openNewDay(this.getAttribute('data-parameter1'));">
											<i class="mdi mdi-lock-open icon"></i> Unlock this day
										</span>
									</div>

									<script type="text/javascript">
										function openNewDay(num) {
											var idToken = getCookie('idToken');
											console.log("idToken: " + idToken);
											if (idToken === undefined) {
												Swal({
													position : 'center',
													title : 'Vui lòng đăng nhập trước khi mở ngày hành trình mới!',
													showConfirmButton : false,
													timer : 2000,
												});
												return;
											}
											var urlVideo = prompt("Nhập đường dẫn ngày hành trình mới nhất cuả ngày hành trình 3days day "
													+ (num-1));
											
											/* var strUrlCut = url.slice(8, (url
													.indexOf("facebook") - 1));
											var strUrlLast = url.slice((url
													.indexOf("facebook") - 1));
											var strHTTP = "https://m";
											var URL = strHTTP + strUrlLast; */
											
											console.log("urlVideo: " + urlVideo);
											regexp =  /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
									        if (regexp.test(urlVideo))
									        {
									          
									        }
									        else
									        {
									          Swal({
													position : 'center',
													type : 'error',
													title : 'Link video không đúng định dang. Vui lòng nhập lại!',
													showConfirmButton : false,
													timer : 2000,
												});
									          return;
									        }
	        								var indexGroup = 0;
	        								indexGroup = urlVideo.indexOf("s/");
	        								console.log("indexGroup: " + indexGroup);
	        								var checkGroup = urlVideo.slice(indexGroup + 2, 35);
	        								console.log("checkGroup: " + checkGroup);
	        								var postId;
	        								var URL;
	        								if(checkGroup != "cec"){
	        									console.log("!= cec");
	        									console.log("url valid groups: " + urlVideo.slice(23,29));
	        									var checkGroup1 = urlVideo.slice(23,29);
	        									if (checkGroup1 != "groups") {
	        										Swal({
														position : 'center',
														type : 'error',
														title : 'Vui lòng nhập lại link video được đăng trên groups facebook cec!',
														showConfirmButton : false,
														timer : 2000,
													});
	        										return;
	        									}
	        									var indexId = 0;
	        									indexId = urlVideo.lastIndexOf("=");
	        									postId = urlVideo.slice(indexId + 1);
	        									console.log("postId: " + postId);
	        									URL = "https://m.facebook.com/groups/cec.edu.vn/permalink/"+postId;
	        									console.log("URLif: " + URL);
	        								}else{
	        									console.log("=cec");
	        									var strUrlCut = urlVideo.slice(8, (urlVideo
		        										.indexOf("facebook") - 1));
		        								var strUrlLast = urlVideo.slice((urlVideo
		        										.indexOf("facebook") - 1));
		        								var strHTTP = "https://m";
		        								URL = strHTTP + strUrlLast;
		        								console.log("URLelse: " + URL);
		        								var checkGroup2 = URL.slice(23,29);
		        								console.log("url valid groups: " + checkGroup2);
		        								if (checkGroup2 != "groups"){
		        									Swal({
														position : 'center',
														type : 'error',
														title : 'Vui lòng nhập lại link video được đăng trên groups facebook cec!',
														showConfirmButton : false,
														timer : 2000,
													});
	        										return;
		        								}
		        								}
											
											num = num -1;
											$
													.post(
															"/openLockDay?url="
																	+ URL + "&journey=3"
																	+ "&numDay="
																	+ num,
															function(data) {
																console
																		.log(data);
																alert("Video ngày hành trình của bạn đã được submit thành công!");
																window.location.href = "/journey/3days";
															})
													.fail(
															function(xhr,
																	status,
																	error) {
																if (xhr.status == 404) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Link video không đúng .Vui lòng nhập lại link video bài học của bạn!',
																		showConfirmButton : false,
																		timer : 2000,
																	});
																}
																if (xhr.status == 400) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Link video đã tồn tại .Vui lòng nhập lại link video bài học của bạn!',
																		showConfirmButton : false,
																		timer : 2000,
																	});
																}
																if (xhr.status == 403) {
																	alert("error 403");
																}
																if (xhr.status == 405) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Đây không phải video của bạn .Vui lòng nhập lại link video bài học của bạn!',
																		showConfirmButton : false,
																		timer : 3000,
																	});
																}
																if (xhr.status == 406) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Vui lòng hoàn thiện ngày hành trình trước!',
																		showConfirmButton : false,
																		timer : 3000,
																	});
																}
																if (xhr.status == 401) {
																	Swal({
																		position : 'center',
																		title : 'Phiên bản đã hết hạn, vui lòng đăng nhập lại!',
																		showConfirmButton : false,
																		timer : 3000,
																	});
																}
															});
										}
									</script>
									<a href="#"> <strong th:text="${dayLock.nameDay}"></strong>
										<span class="name" th:text="${dayLock.nameDay}"></span>
									</a>
								</div>
							</div>
							<!-- </c:forEach> -->
							<!-- end -->
						</div>
					</div>
				</div>
			</section>
			
		</div>
	</div>
</body>
</html>