<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC - Journeys</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="eventInfo event-1">

			<section>
				<div class="container">
					<div class="listLesson hasBorderBottom">
						<h2 class="headingSecondary text-center">All Journey</h2>
						<p class="text-center textLead mb-5">We have many training
							programs that include</p>

						<div class="row">
							<!-- start active -->
							<!-- <c:forEach items="${lessonNames}" var="lessonName1"> -->
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 3days</p>
										</span>
									</div>
									<a href="/journey/3days"> <span class="name">Journey
											3days</span>
									</a>
								</div>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 5days</p>
										</span>
									</div>
									<a href="/journey/5days"> <span class="name">Journey
											5days</span>
									</a>
								</div>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 7days</p>
										</span>
									</div>
									<a href="/journey/7days"> <span class="name">Journey
											7days</span>
									</a>
								</div>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 10days</p>
										</span>
									</div>
									<a href="/journey/10days"> <span class="name">Journey
											10days</span>
									</a>
								</div>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 21days</p>
										</span>
									</div>
									<a href="/journey/21days"> <span class="name">Journey
											21days</span>
									</a>
								</div>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 45days</p>
										</span>
									</div>
									<a href="/journey/45days"> <span class="name">Journey
											45days</span>
									</a>
								</div>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p>Journey 90days</p>
										</span>
									</div>
									<a href="/journey/90days"> <span class="name">Journey
											90days</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</body>
</html>