<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC Journeys</title>
<style>
.ul-jd {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	padding-left:70px;
}

.li-jd {
	float: left;
	display: inline-block;
}

.li-jd a {
	display: inline-block;;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="lesson">
			<section class="pageIntro">
				<div class="container text-center" th:each="obj : ${journey}">
					<div class="text-journey">
						<p class="dayJourney text-white">Day</p>
						<p class="dayJ text-white" th:text="${journey.day}"></p>
					</div>
				</div>
			</section>
			<section class="lessonInfo">
				<div class="container" th:each="obj : ${journey}">
					<div class="row">
						<div class="col-md-3">
							<h3 class="text-left">
								<a href="">Hướng dẫn</a>
							</h3>
							<p>- Bí mật của việc nói Tiếng Anh tốt chỉ gói gọn trong 4
								chữ: LUYỆN TẬP ĐỀU ĐẶN.</p>
							<p>- Thấu hiểu được điều này, CEC xây dựng “Hành Trình Chiến
								Binh 90 Ngày”.</p>
							<p>- Hành trình chiến binh 90 ngày gồm những hành trình: 3
								ngày, 5 ngày, 7 ngày, 10 ngày,…</p>
							<p>- Hành trình sẽ giúp các bạn hình thành thói quen luyện
								tập tiếng anh mỗi ngày. Mỗi ngày chinh phục một chủ đề mới do
								ban quản trị viên cung cấp, rèn luyện cơ miệng, thay đổi ngữ âm,
								ngữ điệu nhanh chóng và ĐẶC BIỆT bạn sẽ được tìm hiểu, trau dồi
								và tích lũy liên tục những ý tưởng, những chủ đề khác nhau xoay
								quanh cuộc sống hàng ngày!</p>

						</div>
						<div class="col-md-6">
							<div class=name-journey>
								<h3 class="div-journey-text">Video hành trình</h3>
								<h3 class="div-journey-name" th:text="${journey.name}"></h3>
							</div>
							<video width="320" height="240" controls="">
								<source th:src="@{${journey.videoURL}}" type="video/mp4">
							</video>
						</div>
						<div class="col-md-3">
							<h3 class="text-left">
								<a href="">Nhiệm vụ</a>
							</h3>
							<p>- Khi tham gia hành trình, ngày nào bạn cũng phải đăng một
								video nói Tiếng Anh lên nhóm Crazy English Community( Nội dung
								video có thể là chủ đề được QTV gợi ý hoặc chủ đề bạn yêu
								thích).</p>
							<p>- Khi đăng,video bạn phải có hashtag
								#hanhtrinhchienbinh90ngay dayX/Y( X là số ngày của hành trình, Y
								là tên hành trình. VD: day 1/3, day 2/3,…) ( nếu không có
								hashtag bài của bạn sẽ không được đăng lên nhóm)</p>
							<h5 style="color: green;">Chúc bạn học tập hiệu quả trên
								CEC.</h5>
						</div>
					</div>
					<hr class="mb-5 mt-5">
					<div class="row" style="text-align: center;">
						<!-- <embed th:src="@{${journey.pdfUrl}}" width="650" height="400"
							style="margin: 0 auto;">
						</embed> -->
						<iframe th:src="@{${journey.pdfUrl}}" width="650" height="400"
							style="margin: 0 auto;" frameborder="0"></iframe>
					</div>

					<div class="row" >
						<div class="col-md-6 offset-md-3">
							<div class="btn-group" id="featureNextDay" style="float: right; margin-top: 35px; display: none">
								<button id="nextDay" class="btn btn-primary">Ngày tiếp
									theo >></button>
							</div>
						</div>
						<div class="col-md-6 offset-md-3">
							<div class="form-group" style="margin-top: 15px; display: none;"
								id="urlDay">
								<label for="usr" style="color: blue;">Link video ngày
									tương ứng với hành trình này của bạn:</label> <input type="text"
									class="form-control" id="lastDay" style="border-color: black;">
							</div>
							<div class="btn-group" style="float: right; margin-top: 20px;">
								<button id="sendVideoDay" class="btn btn-success"
									style="display: none;">Gửi lên CEC</button>
							</div>
						</div>
						<script>
							console.log("url: " + window.location.href);
							var currentUrl = window.location.href;
							var url = new URL(currentUrl);
							var v = url.searchParams.get("v");
							console.log("v: " + v);
							if (v == null) {
								/* $("#featureNextLesson").show(); */
								document.getElementById("featureNextDay").style.display = 'block';
							}
						</script>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<ul class="ul-jd">
								<li class="li-jd"><a class="nav-link"
									href="/journey/3days/1">Journey 3days</a></li>
								<li class="li-jd"><a class="nav-link"
									href="/journey/5days/1">Journey 5days</a></li>
								<li class="li-jd"><a class="nav-link"
									href="/journey/7days/1">Journey 7days</a></li>
								<li class="li-jd"><a class="nav-link"
									href="/journey/10days/1">Journey 10days</a></li>
								<li class="li-jd"><a class="nav-link"
									href="/journey/21days/1">Journey 21days</a></li>
								<li class="li-jd"><a class="nav-link"
									href="/journey/45days/1">Journey 45days</a></li>
								<li class="li-jd"><a class="nav-link"
									href="/journey/90days/1">Journey 90days</a></li>
							</ul>

						</div>
						<div class="col-md-1"></div>
						
						
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>