<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC Journeys</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="lesson">
			<section class="pageIntro">
				<div class="container text-center" th:each="obj : ${journey}">
					<div class="text-journey">
						<p class="dayJourney text-white">Day</p>
						<p class="dayJ text-white" th:text="${journey.day}"></p>
					</div>
				</div>
			</section>
			<section class="lessonInfo">
				<div class="container" th:each="obj : ${journey}">
					<div class="row">
						<div class="col-md-3">
							<h3 class="text-left">
								<a href="">Hướng dẫn</a>
							</h3>
							<p>- Hành trình 90days là một trải nghiệm tuyệt vời dành cho
								tất cả mọi người.</p>
							<p>- Hành trình 90days được chia thành các hành trình nhỏ như
								3days, 5days, 7days, ...90days.</p>
							<p>- Để có thể phát triển từng ngày, chúng ta sẽ cùng vượt
								qua từng ngày thử thách trong từng hành trình.</p>
							<p>- Trong hành trình 90days chúng ta sẽ đi qua từng ngày,
								cùng với đó là những kỹ năng, những trải nghiệm sẽ được tích
								lũy.</p>
							<p>- Trong hành trình 3days, bắt đầu từ day1, sau đó sẽ qua
								day2, day3. Sau khi hoàn thành 3days, chúng ta sẽ tiếp tục với
								hành trình 5days...</p>

						</div>
						<div class="col-md-6">
							<div class=name-journey>
								<h3 class="div-journey-text">Video hành trình</h3>
								<h3 class="div-journey-name" th:text="${journey.name}"></h3>
							</div>
							<video width="320" height="240" controls="">
								<source th:src="@{${journey.videoURL}}" type="video/mp4">
							</video>
						</div>
						<div class="col-md-3">
							<h3 class="text-left">
								<a href="">Nhiệm vụ</a>
							</h3>
							<p>- Sau khi xem video của giảng viên CEC, chúng ta sẽ quay
								lại video clip thực hành nói của chính mình theo những gì giảng
								viên đã thực hiện.</p>
							<p>- Sau đó chúng ta sẽ gửi video ngày hành trình của mình
								theo từng hành trình lên CEC.</p>
							<p>- Để có thể tiếp tục thực hành ngày hành trình day2, thì
								chúng ta sẽ phải hoàn thành nhiệm vụ của day1,...</p>
							<p>- Để có thể tiếp tục thực hành hành trình 5days thì chúng
								ta phải hoàn thành nhiệm vụ hành trình 3days với từng day1.
								day2, day3.</p>
							<p>- Cho đến khi chúng ta có thể hoàn thành hành trình
								90days.</p>
						</div>
					</div>
					<hr class="mb-5 mt-5">
					<div class="row" style="text-align: center;">
						<embed th:src="@{${journey.pdfUrl}}" width="650" height="400" style="margin:0 auto;">
						</embed>
					</div>
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<div class="btn-group" style="float: right; margin-top: 35px;">
								<button id="nextDay" class="btn btn-primary">Ngày tiếp
									theo >></button>
							</div>
						</div>
						<div class="col-md-6 offset-md-3">
							<div class="form-group" style="margin-top: 15px; display: none;"
								id="urlDay">
								<label for="usr" style="color: blue;">Link video ngày
									tương ứng với hành trình này của bạn:</label> <input type="text"
									class="form-control" id="lastDay" style="border-color: black;">
							</div>
							<div class="btn-group" style="float: right; margin-top: 20px;">
								<button id="sendVideoDay" class="btn btn-success"
									style="display: none;">Gửi lên CEC</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>