<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC - Ai La Trieu Phu Game</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="eventInfo event-1">
			<!-- Page Intro
		================================================== -->
			<section class="pageIntro">
				<div class="container">
					<div class="row">
						<div class="col-auto pt-1">
							<i class="mdi mdi-diamond icon c-1"></i>
						</div>
						<div class="col">
							<h2 class="headingSecondary text-white">Ai là triệu phú</h2>
							<p>Hàng tuần vào thứ 3 và thứ 6 sẽ gửi cho các bạn một email
								chứa tài liệu học. Tài liệu gồm: 1 file PDF bài học, 1 file MP3
								bài học và 1 video hướng dẫn bạn học bài học đó. Để được tham
								gia bài học này, bạn cần làm một video nói về nội dung bài học
								được nhận gần nhất và bạn sẽ được sửa lỗi bài học đó.</p>
						</div>
						<div class="col-auto align-self-center">
							<a href="#" class="btn btn-primary btn-lg">Tham gia</a>
						</div>
					</div>
				</div>
			</section>

			<!-- Game intro
		================================================== -->
			<section>
				<div class="container">
					<div class="eventIntro hasBorderBottom">
						<div class="row">
							<div class="col-md-6">
								<h3>Cơ cấu giải thưởng</h3>
								<ul class="hasIcon list-unstyled">
									<li><i class="mdi mdi-numeric-1-box icon"></i> <strong>Nhất
											tuần:</strong> Được tặng 200 Coins <br> (có thể đổi tương ứng ra
										1 chiếc thẻ điện thoại 200 K)</li>
									<li><i class="mdi mdi-numeric-2-box icon"></i> <strong>Nhì
											tuần:</strong> Được tặng 100 Coins <br> (có thể đổi tương ứng ra
										1 chiếc thẻ điện thoại 100 K)</li>
									<li><i class="mdi mdi-numeric-3-box icon"></i> <strong>Giải
											Ba Tuần:</strong> Được tặng 50 Coins <br> (có thể đổi tương ứng
										ra 1 chiếc thẻ điện thoại 50 K)</li>
									<li>
										<p class="font-italic text-info">Bạn cũng có thể tích điểm
											của mình để đổi lấy phần quà có giá trị lớn hơn.</p>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<h3>Luật chơi</h3>
								<ul class="hasIcon list-unstyled mb-5">
									<li><i class="mdi mdi-arrow-right icon"></i> Bạn sẽ được
										cung cấp một video bài đọc mẫu, và một textscript. Nhiệm vụ
										của bạn là quay lại video bạn đọc lại textscript đó làm sao
										cho clip thú vị nhất có thể.</li>
									<li><i class="mdi mdi-arrow-right icon"></i> Clip chiến
										thắng là clip có nhiều tổng điểm like, cảm xúc, share,
										comment. nhiều nhất.</li>
								</ul>
								<a href="" class="btn btn-primary">Tham gia</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Winner
		================================================== -->
			<section class="winner">
				<div class="container">
					<div class="hasBorderBottom">
						<h2 class="headingSecondary text-center">Thành viên đoạt giải</h2>
						<p class="text-center textLead mb-5">We have many training
							programs that include</p>
						<div class="row info">
							<div class="col-md-4">
								<div class="box">
									<h4 class="text-center title">Giải nhất tuần</h4>
									<img
										src="https://graph.facebook.com/v2.8/1177732629012499/picture?type=large"
										alt=""> <a href="https://cec.net.vn/m/100003273191659"
										class="name">Nguyen Ngoc Bui Dinh</a>
									<div class="meta text-center">
										<span class="col">+200 CEC</span> <a
											href="https://www.facebook.com/groups/cec.edu.vn/permalink/1882619702011077"
											class="col" target="_blank"><i
											class="mdi mdi-play-box-outline"></i> Video Clip</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<h5 class="text-center title">Giải nhì tuần</h5>
									<img
										src="https://graph.facebook.com/v2.8/1893125310965633/picture?type=large"
										alt=""> <a href="https://cec.net.vn/m/100008045468893"
										class="name">Trang Trần</a>
									<div class="meta">
										<span class="col">+150 CEC</span> <a
											href="https://www.facebook.com/groups/cec.edu.vn/permalink/2163409790598732"
											class="col" target="_blank"><i
											class="mdi mdi-play-box-outline"></i> Video Clip</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<h5 class="text-center title">Giải ba tuần</h5>
									<img
										src="https://graph.facebook.com/v2.8/1427818777288704/picture?type=large"
										alt=""> <a href="https://cec.net.vn/m/100001817879188"
										class="name">Hằng Nguyễn</a>
									<div class="meta">
										<span class="col">+100 CEC</span> <a
											href="https://www.facebook.com/groups/cec.edu.vn/permalink/2169983273274717"
											class="col" target="_blank"><i
											class="mdi mdi-play-box-outline"></i> Video Clip</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="container">
					<div class="listLesson hasBorderBottom">
						<h2 class="headingSecondary text-center">Danh sách bài học</h2>
						<p class="text-center textLead mb-5">We have many training
							programs that include</p>

						<div class="row">
							<!-- start active -->
							<!-- <c:forEach items="${lessonNames}" var="lessonName1"> -->
							<div
								class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem active"
								th:each="lessonActive : ${activeLessons}">
								<div class="inner">
									<div class="lock">
										<span> <i class="mdi mdi-lock icon"></i>
											<p th:text="${lessonActive.nameLesson}"></p>
										</span>
									</div>
									<a th:href="@{'/lesson/' + ${lessonActive.keyLesson}}"> <span
										class="name" th:text="${lessonActive.nameLesson}"></span>
									</a>
								</div>
							</div>
							<!-- </c:forEach> -->
							<!-- end active -->
							<!-- start -->



							<!-- <c:forEach items="${lessonNamesNotExist}"
								var="lessonNameNotExist"> -->
							<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lessonItem"
								th:each="lessonLock : ${lockLessons}">
								<div class="inner">
									<!-- <div class="lock" > -->
									<div class="lock">
										<span class="lockMessage"> <i class="mdi mdi-lock icon"></i>
											<p th:text="${lessonLock.nameLesson}"></p>
										</span> <span class="unlockMessage"
											th:data-parameter1="${lessonLock.keyLesson}"
											onclick="openNewLesson(this.getAttribute('data-parameter1'));">
											<i class="mdi mdi-lock-open icon"></i> Unlock this lesson
										</span>
									</div>

									<script type="text/javascript">
										function openNewLesson(num) {
											var url = prompt("Nhập đường dẫn bài làm mới nhất cuả bài số "
													+ num);
											var strUrlCut = url.slice(8, (url
													.indexOf("facebook") - 1));
											var strUrlLast = url.slice((url
													.indexOf("facebook") - 1));
											var strHTTP = "https://m";
											var URL = strHTTP + strUrlLast;
											$
													.post(
															"/openLockLesson?url="
																	+ URL
																	+ "&numLesson="
																	+ num,
															function(data) {
																console
																		.log(data);
																alert("Bài học của bạn đã được submit thành công!");
																/* window.location.href = "/events/altp"; */
															})
													.fail(
															function(xhr,
																	status,
																	error) {
																if (xhr.status == 404) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Link video không đúng .Vui lòng nhập lại link video bài học của bạn!',
																		showConfirmButton : false,
																		timer : 2000,
																	});
																}
																if (xhr.status == 400) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Link video đã tồn tại .Vui lòng nhập lại link video bài học của bạn!',
																		showConfirmButton : false,
																		timer : 2000,
																	});
																}
																if (xhr.status == 403) {
																	alert("error 403");
																}
																if (xhr.status == 405) {
																	Swal({
																		position : 'center',
																		type : 'error',
																		title : 'Đây không phải video của bạn .Vui lòng nhập lại link video bài học của bạn!',
																		showConfirmButton : false,
																		timer : 3000,
																	});
																}
																if (xhr.status == 401) {
																	Swal({
																		position : 'center',
																		title : 'Phiên bản đã hết hạn, vui lòng đăng nhập lại!',
																		showConfirmButton : false,
																		timer : 3000,
																	});
																}
															});
										}
									</script>
									<a href="#"> <strong th:text="${lessonLock.nameLesson}"></strong>
										<span class="name" th:text="${lessonLock.nameLesson}"></span>
									</a>
								</div>
							</div>
							<!-- </c:forEach> -->
							<!-- end -->
						</div>
					</div>
				</div>
			</section>

			<!-- Member's Videos
		================================================== -->
			<section class="membersVideo">
				<div class="container">
					<h2 class="headingSecondary text-center">Video Ai là triệu phú</h2>
					<p class="textLead text-center mb-5">We have many training
						programs that include</p>
					<div class="gridMasonry"
						style="position: relative; height: 1638px;">
						<!-- start  -->


						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 0px; top: 0px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100003681093579"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100003681093579/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100003681093579" class="name">Gari
													Em</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194697354136642"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER ENGLISH TOGETHER. HÃY CÙNG NHAU CHINH PHỤC TIẾNG ANH. 
#LESSON 02 CEC
Mong mọi người sửa lỗi giúp em!!
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/gari.em.5/videos/1476280025838020/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fgari.em.5%2Fvideos%2F1476280025838020%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 743px;"><iframe
													name="f2ae886cd9511b8" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df80e0919cf8b2c%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fgari.em.5%2Fvideos%2F1476280025838020%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 743px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 456.203px; top: 0px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100001355201714"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100001355201714/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100001355201714" class="name">Mai
													Hoa</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194681100804934"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER ENGLISH TOGETHER - HÃY CÙNG NHAU CHINH PHỤC TIẾNG ANH.#LESSON03CEC 
Thanks for listening.
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/100001355201714/videos/1866256760096146/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100001355201714%2Fvideos%2F1866256760096146%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 743px;"><iframe
													name="f2387478213b0bc" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df8660855012df%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100001355201714%2Fvideos%2F1866256760096146%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 743px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 912.406px; top: 0px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100011811007878"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100011811007878/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100011811007878" class="name">Vy
													Nguyen</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194668564139521"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER TOGETHER ENGLISH-HÃY CÙNG NHAU CHINH PHỤC TIẾNG ANH. #LESSON15CEC
-------------------------------------------------------------------------

LINK ĐĂNG KÍ CÁC BÀI HỌC:
BẠN CHÚ Ý PHẢI HỌC THEO THỨ TỰ BÀI 1 ĐẦU TIÊN MỚI ĐƯỢC HỌC CÁC BÀI KHÁC.
LINK ĐK BÀI HỌC SỐ 11: https://goo.gl/forms/k7v2Fy2gccc1rrw83
LINK ĐK BÀI HỌC SỐ 12: https://goo.gl/forms/SPxrlv50ZIHSCF0c2
LINK ĐK BÀI HỌC SỐ 13 :https://goo.gl/forms/5BF420xvxpffHcl83
LINK ĐK BÀI HỌC SỐ 14 https://goo.gl/forms/mcOkyILLN1wcLu9r1
LINK ĐK BÀI HỌC SỐ 15 https://goo.gl/forms/wThxDuriCPnzpy7b2
LINK ĐK BÀI HỌC SỐ 16: https://goo.gl/forms/LkNJKESbxtoNMDUg2
LINK ĐK BÀI HỌC SỐ 17: https://goo.gl/forms/onlUKFSppsuv7jSv2
LINK ĐK BÀI HỌC SỐ 18: https://goo.gl/forms/LDsue5Z9cg0TOF8G3
LINK ĐK BÀI HỌC SỐ 19: https://goo.gl/forms/9SrxL8EMiKp2znHb2
LINK ĐK BÀI HỌC SỐ 20: https://goo.gl/forms/3ZmfvDkH9fZ2l52z2
LINK ĐK BÀI HỌC SỐ 21: https://goo.gl/forms/l801DUabQ36knx932
LINK ĐK BÀI HỌC SỐ 22: https://goo.gl/forms/nXDMWZaoSVX0F6Uj2
LINK ĐK BÀI HỌC SỐ 23: https://goo.gl/forms/J8gE62ZzkvzCakIr2
LINK ĐK BÀI HỌC SỐ 24:  https://goo.gl/forms/BhiJltqyHtZUiceA2
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/100011811007878/videos/503736646696698/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100011811007878%2Fvideos%2F503736646696698%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 743px;"><iframe
													name="f2f7f27e1c7b018" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df3c1bb7aff5db%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100011811007878%2Fvideos%2F503736646696698%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 743px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 456.203px; top: 308px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100002726845214"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100002726845214/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100002726845214" class="name">Lê
													Quốc Dũng Dungken</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194657064140671"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER ENGLISH TOGETHER - HÃY CÙNG NHAU CHINH PHỤC TIẾNG ANH.#LESSON01CEC #ALTPTUAN3THANG10
Lesson 3: I welcome challenges happily
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/dungken1985/videos/1654583427975869/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdungken1985%2Fvideos%2F1654583427975869%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 233px;"><iframe
													name="f1748ea389a1a78" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df247ac56e3cb93%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdungken1985%2Fvideos%2F1654583427975869%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 233px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 0px; top: 329px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100010041196370"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100010041196370/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100010041196370" class="name">Tinh
													Duong</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194625454143832"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER ENGLISH TOGETHER
#LESSON08CEC #ALTPTUAN4THANG11
Lesson  8: Three key points of success.
Mong các anh chị sửa lỗi giúp em với ạ!! Em cảm ơn nhiều ạ!
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/100010041196370/videos/799347340409965/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100010041196370%2Fvideos%2F799347340409965%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 743px;"><iframe
													name="f3007ca1b684c84" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df2afb18b3925cf%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100010041196370%2Fvideos%2F799347340409965%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 743px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 456.203px; top: 616px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100030503377174"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100030503377174/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100030503377174" class="name">Trang
													Trần</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194551927484518"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									🤘🤘🤘Mời mems vào team ad🤗🤗🤗
Có mem nào muốn về team của bạn ad dễ thương này hông nhỉ?🤔
📛Hướng dẫn chi tiết cách làm bài thu hoạch hoạt động số 7: 
📌Với mỗi bài học, xem kĩ video hướng dẫn của QTV 
📌Luyện tập và quay video nói diễn cảm những từ vựng có trong bài học(bạn có thể sử dụng tài liệu- như bạn ad này nhé) 
📌Up video lên group Crazy English Community với caption 
SUPER MEMORISING WORDS
#hoatdonghocso7cec
#lesson[thứ tự bài học]
không quên tag 3 người bạn cùng tham gia nhé!😉
😯VD: SUPER MEMORISING WORDS
#hoatdonghocso7cec
#lesson1
❌❌❌Bài nào không có hangtag là 'được' xóa nhé😈😈😈
🔜Link đk tham gia hoạt động học số 7: https://goo.gl/forms/5E5NVYdgK9uWgpcz2 
😎Mem nào muốn vào team học từ cùng ad Nguyễn Kim Cúc thì cmt I LOVE CEC 
⛔Mem nào chưa rõ về hoạt động này thì “.” Để các ad hỗ trợ nhé! 😉
💞💞💞Chúc các bạn học tập hiệu quả trên CEC💞💞💞
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/100030503377174/videos/114750129551766/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100030503377174%2Fvideos%2F114750129551766%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 555px;"><iframe
													name="f3a265d27951794" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df19eb08062fafb8%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100030503377174%2Fvideos%2F114750129551766%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 555px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 0px; top: 658px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100002736512433"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100002736512433/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100002736512433" class="name">Bình
													Tiến</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194474700825574"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									Hi everyone!
Mình là thành viên mới học tiếng anh, lần đầu quay video bài học. Mọi người vào xem nhận xét giúp mình với ạ. Thanks! Hân Durian :) 
#lesson1
#howtobeagoodlearner
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/binh.tien/videos/1964881630279702/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbinh.tien%2Fvideos%2F1964881630279702%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 736px;"><iframe
													name="f50f4a26815a64" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df2c69b11f49ebac%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbinh.tien%2Fvideos%2F1964881630279702%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 736px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 912.406px; top: 1001px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100022217745480"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100022217745480/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100022217745480" class="name">Ngọc
													Ánh</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194440014162376"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER ENGLISH TOGETHER -Hãy cùng nhau chinh phục tiếng anh #lesson9CEC 
Mọi người sửa lỗi giúp em với ạ^^
Thank you so much
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/100022217745480/videos/359993248084597/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100022217745480%2Fvideos%2F359993248084597%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 750px;"><iframe
													name="f1a0d0c8e91a" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df3520cd469c6bc%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2F100022217745480%2Fvideos%2F359993248084597%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 750px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 0px; top: 1008px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100007607416259"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100007607416259/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100007607416259" class="name">Tuấn
													Ank</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194426340830410"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									LET'S CONQUER ENGLISH TOGETHER 

#LESSON02 You Must Enjoy Losing Face
Please help me with the comments
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/Tuantayto.311/videos/2195809504015942/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2FTuantayto.311%2Fvideos%2F2195809504015942%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 234px;"><iframe
													name="f1f5c5c52933e64" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df360fd56a8faa2c%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2FTuantayto.311%2Fvideos%2F2195809504015942%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 234px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<div class="grid-item userBoxInfo"
							style="position: absolute; left: 912.406px; top: 1330px;">
							<div class="inner">
								<div class="info">
									<div class="meta">
										<div class="d-flex">
											<a href="https://cec.net.vn/m/100004996686730"
												class="avatar mr-2"> <img
												src="//graph.facebook.com/100004996686730/picture?type=square"
												alt="" class="rounded-circle" width="40">
											</a>
											<div>
												<a href="https://cec.net.vn/m/100004996686730" class="name">Lệ
													Mỹ</a> <a
													href="https://www.facebook.com/groups/cec.edu.vn/permalink/2194400390833005"
													target="_blank" class="date">4 tháng trước</a>
											</div>
										</div>
									</div>
									<pre class="desc">									#lesson9_cec_have_a_good_attitude.
#tuan5thang11
Anh chị sửa bài giùm em với ạ.
		 						</pre>
								</div>
								<div class="coverImage">
									<div class="videoWrap">
										<div
											class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
											data-href="https://www.facebook.com/le.my.31105/videos/1168057196704159/"
											data-width="500" data-show-text="false"
											fb-xfbml-state="rendered"
											fb-iframe-plugin-query="app_id=&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fle.my.31105%2Fvideos%2F1168057196704159%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
											<span
												style="vertical-align: bottom; width: 500px; height: 743px;"><iframe
													name="f11b5fb77ef776" width="500px" height="1000px"
													frameborder="0" allowtransparency="true"
													allowfullscreen="true" scrolling="no"
													allow="encrypted-media"
													title="fb:video Facebook Social Plugin"
													src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df351e09b89b285c%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff39eb6ba304bc0c%26relation%3Dparent.parent&amp;container_width=416&amp;href=https%3A%2F%2Fwww.facebook.com%2Fle.my.31105%2Fvideos%2F1168057196704159%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
													style="border: none; visibility: visible; width: 500px; height: 743px;"
													class=""></iframe></span>
										</div>
									</div>
									<img
										src="">
								</div>
							</div>
						</div>

						<!-- end  -->
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>