<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="howToHelp">
			<img src="../../images/volunteer.jpg" alt="" width="100%">

			<!-- How to help
		================================================== -->
			<section>
				<div class="container">
					<div class="row navPage">
						<div class="col-auto">
							<a href="/support">How to help</a>
						</div>
						<div class="col-auto">
							<a href="/volunteer" class="active">Volunteer at CEC</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<h2 class="headingSecondary">Volunteer at CEC</h2>
						</div>
						<div class="col-md-8">
							<p>We welcome volunteers at CEC (Crazy English Community) to
								help our students and organization. We need volunteers to help:</p>
							<h4 class="mb-2">Teaching English.</h4>
							<p>Learning English is part of our course and it will be very
								helpful for CEC students when volunteers help with English
								speaking practice. When volunteers work with teachers, there
								will be plenty of time to practice in small groups.</p>
							<p>
								<strong> - Requirements: </strong>
							</p>
							<ul class="list-unstyled mb-3 ml-3">
								<li><i class="mdi mdi-star"></i> Speaks good english.</li>
								<li><i class="mdi mdi-star"></i> Commit to at least one
									morning or afternoon every week for at least one month.</li>
								<li><i class="mdi mdi-star"></i> Work with the English
									teacher and match the lesson plan of the class.</li>
								<li><i class="mdi mdi-star"></i> Helps to improve textbooks
									and materials in English.</li>
							</ul>
							<h4 class="mb-2">Other work in our organization.</h4>
							<p>We also welcome volunteers to give a helping hand to our
								administrative, marketing, and event organizing teams.</p>
							<p>
								<strong> - Requirements:</strong>
							</p>
							<ul class="list-unstyled mb-3 ml-3">
								<li><i class="mdi mdi-star"></i> Commit to a minimum of 1
									month (flexible working hours)</li>
								<li><i class="mdi mdi-star"></i> Enthusiastic and flexible.</li>
								<li><i class="mdi mdi-star"></i> Speaks English /
									Vietnamese.</li>
							</ul>
							<p>
								If you live in Hanoi, Da Nang, Ho Chi Minh City and would like
								to know how to help CEC, call us: +84963945646 or send us your
								CV to <a href="mailto:contact@cec.net.vn">contact@cec.net.vn</a>
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>