<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CEC file detail</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="content">
			<section class="memberProfile">
				<div class="container">
					<div class="generalInfo" th:each="obj : ${member}">
						<img th:alt="${member.name}"
							th:src="@{'//graph.facebook.com/' + ${member.id} + '/picture?type=large&amp;width=110&amp;height=110'}"
							class="avatar">
						<h3 class="h5 mb-0">
							<a target="_blank"
								th:href="@{//facebook.com/profile.php(id=${member.id})}"
								class="name" th:text="${member.name}"></a>
						</h3>
						<div class="mb-4">Thành viên</div>

						<a
							th:href="@{'/verify?fbid=' + ${member.id} + '&amp;fbname=' + ${member.name}}">Đây
							là tôi</a>


					</div>
					<div class="profileNav">
						<div class="row">
							<div class="col">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link"
										th:href="@{'/m/' + ${member.id}}"><i
											class="mdi mdi-arrow-left"></i> Danh sách bài post</a></li>
								</ul>
							</div>

						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="profileContent-1">
							<div class="row">
								<div class="col-md-8 offset-md-2">
									<div class="userBoxInfo" th:each="obj : ${member}">
										<div class="inner" th:each="obj : ${memberPost}">
											<div class="info" th:each="obj : ${video}">
												<div class="meta">
													<div class="d-flex">
														<a target="_blank"
															th:href="@{//facebook.com/profile.php(id=${member.id})}"
															class="avatar mr-2"> <img th:alt="${member.name}"
															th:src="@{'//graph.facebook.com/' + ${member.id} + '/picture?type=large&amp;width=40&amp;height=40'}"
															class="rounded-circle" width="40" height="40">
														</a>
														<div>
															<a target="_blank"
																th:href="@{//facebook.com/profile.php(id=${member.id})}"
																class="name" ></a> <a
																th:href="@{'https://www.facebook.com/groups/cec.edu.vn/permalink/' + ${video.id}}"
																target="_blank" class="date">5 tháng trước</a>
														</div>
													</div>
												</div>
												<div class="desc">
													<pre th:text="${memberPost.content}"> 
❤️</pre>
												</div>
												<div class="text-center">
													<div
														class="fb-video fb_iframe_widget fb_iframe_widget_fluid_desktop"
														data-href="https://www.facebook.com/caphe.nong.1/videos/2128837993814994/"
														data-width="500" data-show-text="false"
														fb-xfbml-state="rendered"
														fb-iframe-plugin-query="app_id=&amp;container_width=797&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcaphe.nong.1%2Fvideos%2F2128837993814994%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500">
														<span
															style="vertical-align: bottom; width: 500px; height: 893px;"><iframe
																name="f2b778e904a97d" width="500px" height="1000px"
																frameborder="0" allowtransparency="true"
																allowfullscreen="true" scrolling="no"
																allow="encrypted-media"
																title="fb:video Facebook Social Plugin"
																src="https://www.facebook.com/v2.6/plugins/video.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df16ac20e56be4e8%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff3ca7858353ff04%26relation%3Dparent.parent&amp;container_width=797&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcaphe.nong.1%2Fvideos%2F2128837993814994%2F&amp;locale=en_US&amp;sdk=joey&amp;show_text=false&amp;width=500"
																style="border: none; visibility: visible; width: 500px; height: 893px;"
																class=""></iframe></span>
													</div>
												</div>
											</div>
										</div>
										<div class="fbComments">
											<div
												class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop"
												data-href="https://www.facebook.com/groups/cec.edu.vn/permalink/2160982757508102"
												data-numposts="5" fb-xfbml-state="rendered"
												fb-iframe-plugin-query="app_id=&amp;container_width=837&amp;height=100&amp;href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Fcec.edu.vn%2Fpermalink%2F2160982757508102&amp;locale=en_US&amp;numposts=5&amp;sdk=joey&amp;version=v2.6&amp;width=550">
												<span
													style="vertical-align: bottom; width: 550px; height: 187px;"><iframe
														name="f2ac8b5ac2e1204" width="550px" height="100px"
														frameborder="0" allowtransparency="true"
														allowfullscreen="true" scrolling="no"
														allow="encrypted-media"
														title="fb:comments Facebook Social Plugin"
														src="https://www.facebook.com/v2.6/plugins/comments.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df17a82c54e7398c%26domain%3Dcec.net.vn%26origin%3Dhttps%253A%252F%252Fcec.net.vn%252Ff3ca7858353ff04%26relation%3Dparent.parent&amp;container_width=837&amp;height=100&amp;href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Fcec.edu.vn%2Fpermalink%2F2160982757508102&amp;locale=en_US&amp;numposts=5&amp;sdk=joey&amp;version=v2.6&amp;width=550"
														style="border: none; visibility: visible; width: 550px; height: 187px;"
														class=""></iframe></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Join Us
	================================================== -->
			<section class="joinUs">
				<div class="container text-center">
					<h2 class="headingSecondary text-white text-center mb-5">
						<span>71,000+</span> <br> Members in Crazy English Community.
					</h2>
					<a href="#" class="btn btn-primary btn-lg">Tham Gia</a>
				</div>
			</section>
		</div>
	</div>
</body>
</html>