<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta property="og:title" content="CEC Post Detail">
<meta property="og:image" th:each="obj : ${member}" data-th-attr="content=@{'//graph.facebook.com/' + ${member.id} + '/picture'}" />
<title>CEC post detail</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="content">
			<section class="memberProfile">
				<div class="container">
					<div class="generalInfo" th:each="obj : ${member}">
						<img th:alt="${member.name}"
							th:src="@{'//graph.facebook.com/' + ${member.id} + '/picture?type=large&amp;width=110&amp;height=110'}"
							class="avatar">
						<h3 class="h5 mb-0">
							<a target="_blank"
								th:href="@{//facebook.com/profile.php(id=${member.id})}"
								class="name" th:text="${member.name}"></a>
						</h3>
						<div class="mb-4">Thành viên</div>

						<a
							th:href="@{'/verify?fbid=' + ${member.id} + '&amp;fbname=' + ${member.name}}">Đây
							là tôi</a>


					</div>
					<div class="profileNav">
						<div class="row">
							<div class="col">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link"
										th:href="@{'/m/' + ${member.id}}"><i
											class="mdi mdi-arrow-left"></i> Danh sách bài post</a></li>
								</ul>
							</div>

						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="profileContent-1">
							<div class="row">
								<div class="col-md-8 offset-md-2">
									<div class="userBoxInfo" th:each="obj : ${member}">
										<div class="inner" th:each="obj : ${memberPost}">
											<div class="info">
												<div class="meta">
													<div class="d-flex">
														<a target="_blank"
															th:href="@{//facebook.com/profile.php(id=${member.id})}"
															class="avatar mr-2"> <img th:alt="${member.name}"
															th:src="@{'//graph.facebook.com/' + ${member.id} + '/picture?type=large&amp;width=40&amp;height=40'}"
															class="rounded-circle" width="40" height="40">
														</a>
														<div>
															<a target="_blank"
																th:href="@{//facebook.com/profile.php(id=${member.id})}"
																class="name"></a> <a
																th:href="${memberPost.permalink}"
																target="_blank" class="date">5 tháng trước</a>
														</div>
													</div>
												</div>
												<div class="desc">
													<pre th:text="${memberPost.content}"> 
❤️</pre>
												</div>
												<div class="text-center">
													<div class="fb-video" th:data-href="${memberPost.permalink}"
														data-width="500" data-show-text="false"></div>
												</div>
											</div>
										</div>
										<div class="fbComments">
											<div class="fb-comments" th:data-href="${memberPost.permalink}"
												data-numposts="5"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</body>
</html>